<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="63b786">  <td>22/04/06 17:41:38</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;MainClass.CloseBrowser()[pri:0, instance:main.MainClass@15a34df2]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@800088638</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>22/04/06 17:41:07</td>   <td>-30888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.investment()[pri:2, instance:main.MainClass@15a34df2]">investment</td> 
  <td>main@800088638</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>22/04/06 17:41:02</td>   <td>-35931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.login()[pri:1, instance:main.MainClass@15a34df2]">login</td> 
  <td>main@800088638</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>22/04/06 17:40:57</td>   <td>-40652</td> <td>&nbsp;</td><td title="&gt;&gt;MainClass.openchrome()[pri:0, instance:main.MainClass@15a34df2]">&gt;&gt;openchrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@800088638</td>   <td></td> </tr>
</table>
